.inputIsNotCorrect {
  border: 1px solid red;
}

.enterLogInAndPassword {
  font-size: 35px;
  color: bisque;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.curUserisntExist {
  font-size: 25px;
  color: rgb(247, 105, 58);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 120px 40px;
  width: 100%;
  background-color: rgb(153, 181, 232);
}

.haventAccount {
  color: rgb(211, 221, 239);
}

.btnLogIn {
  border: 2px solid #5e5e5e;
  color: #3f0c15;
  background: #fbf6a3;
  padding: 12px 20px;
  margin-bottom: 40px;
  margin-left: 30px;

}
.form {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.boxForInp {
  display: flex;
  justify-content: center;
}

.LogIn {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #ff6f5f;
}

.restorePs {
  border: 2px solid #ff6f5f;
  background: #53407b5f;
  color: #2c1d1d;
}
.createAc {
  border: 2px solid #f3c5c5;
  background: #ffd09b;
}
