.box{
    padding: 120px 40px;
    width: 100%;
    background-color:rgb(200, 243, 245)
}

.inputNicName,.inputNewPassword{
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.sendData{
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #fcfcfc;
    border-radius: 3px;
    color: #fff;
    background: #8792f9;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: 0.15s;
    margin-left: 40px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    :hover {
      color: #000;
      background: rgb(255, 218, 87);
    }
}

.messageRestorePassword{
    font-size: 45px;
    font-family: cursive;
    color: crimson;
}

.changePasswordBtn{
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #fcfcfc;
    border-radius: 3px;
    color: #fff;
    background: #060d50;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: 0.15s;
    margin-bottom: 40px;
    margin-left: 40px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    :hover {
      color: #000;
      background: rgb(255, 218, 87);
    }
}
.toLogIn{
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #ffe3e3;
    border-radius: 3px;
    color: #fff;
    background: #c4caff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: 0.15s;
    margin-bottom: 40px;
    margin-left: 40px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    :hover {
      color: #000;
      background: rgb(255, 218, 87);
    }
}
.BackButton{
  text-decoration: none;
  margin-top: 50px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #ffe3e3;
  border-radius: 3px;
  color: #fff;
  background: #e7c174;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  margin-bottom: 40px;
  margin-left: 40px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  :hover {
    color: #000;
    background: rgb(243, 62, 38);
  }
}