.boxBtnHi{
    width: 100%;
    padding: 140px 70px;
    background-color: rgb(180, 171, 240);
}
.greetingBtn{
  border: 2px solid #ff5b5b;
  border-radius: 3px;
  color: #fff;
  background: #7078e6;
  font-size: 20px;
  padding: 32px 50px;

}
.message{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #589dfe;
}