.box {
    padding: 120px 40px;
    width: 100%;
    background-color: cornflowerblue;
}
  
.createAccountBtn {
    border: 2px solid #000;
    color: #fff;
    background: #000;
}

.active {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    border: 1px solid red;
}

.message{
      font-size: 25px;
}

.LogInBtn{
  border: 2px solid #87ff6e;
  color: #fff;
  margin-left: 40px;
  background: #53335e;
  padding: 12px 20px;

}

.createAcc{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #82ff5f;

}

.inpBox{
  display: flex;
  gap: 40px;
  flex-direction: column;
}