.box {
    padding: 120px 40px;
    width: 100%;
    background-color: cornflowerblue;
  }
  
  .createAccountBtn {
      text-decoration: none;
    margin-top: 50px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    :hover {
      color: #000;
      background: rgb(255, 218, 87);
    }
  }
  
  .inputField {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
  }
  
  .active {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    border: 1px solid red;
  }
  .message{
      font-size: 25px;
  }

.LogInBtn{
  text-decoration: none;
  margin-top: 50px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #87ff6e;
  border-radius: 3px;
  color: #fff;
  margin-left: 40px;
  background: #53335e;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  :hover {
    color: #000;
    background: rgb(255, 218, 87);
  }
}
.textCreateAccount{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #82ff5f;
}
.inpBox{
  display: flex;
  gap: 40px;
  flex-direction: column;
}